@media print {
    @page { 
        size: landscape;
    }

    #sample-graphic-print {
        visibility: visible;
        position: absolute;
        top: 1710px;
        -webkit-transform: rotate(45deg);
    }    

    #legend-container-0 {
        position: absolute;
        bottom: 25px;
        right: 10px;
    }

    #map-0 {
       height: 10in;
       width: 10in;
    }
}