@media print {
    #sample-graphic-print {
        visibility: visible;
        position: absolute;
        top: 510px;
        -webkit-transform: rotate(45deg);
    }    

    #plugin-print-preview-map {
        visibility: visible;
    }
}