<script type="text/template" id="template-measure-launcher">
    <div class="measure"></div>
</script>

<script type="text/template" id="template-measure-tooltip">
    <div class="measure-tooltip">
        <p><%= instructions %></p>
        <div>
            <div class="measure-label"><%= segmentLabel %></div><%= segmentLength %> <%= units%>
        </div>
        <div>
            <div class="measure-label"><%= lengthLabel %>:</div><%= totalLength %> <%= units%>
        </div>
    </div>
</script>

<script type="text/template" id="template-measure-infobubble">
    <div class="measure-bubble">
        <% if (area) { %>
            <div>
                <div class="measure-label i18n" data-i18n="Area:">Area:</div><%= area %> <%= areaUnits%><sup>2</sup>
            </div>
        <% } %>
        <div>
            <div class="measure-label i18n" data-i18n="Length:">Length:</div><%= length %> <%= lengthUnits%>
        </div>
    </div>
</script>
