node_modules

# Visual Studio left-overs
*.suo        # 'user' settings like 'which file is open in Visual Studio'
*.v11.suo
*.ncb        # Used for debugging
*.user
*.ccscc      # Used for versioning
*.cache

# Editor left-overs
*~           # (x)emacs
*.bak        # Windows related
\#*\#        # (x)emacs

# Compiled files
src/GeositeFramework/bin/
src/GeositeFramework/obj/
src/GeositeFramework/index.html
*/Obj/       # git is case sensitive
*/Generated_Code/
PrecompiledWeb
*/ClientBin

# NuGet
packages

# NUnit
*.mdf
*.ldf

# OS left-overs
Thumbs.db    # Having images in the source tree generates those files in Explorer
.DS_Store

# App folders
src/GeositeFramework/logs
src/GeositeFramework/languages
