<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to validate URLs that the proxy will forward to.
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
  <serverUrls>
    <!-- serverUrl options:
            url = allow forwarding to specified URL
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and
              password stored in web.config file's appSettings section.
    -->
    <serverUrl matchAll="true" url="http://preview.grid.unep.ch:8080/geoserver/ows"></serverUrl>
  </serverUrls>
  
</ProxyConfig>
