@mixin demo {

  .demo-content {
    padding: 1rem;
    line-height: 1;
    border-radius: 5px;
    background: darken(#f3f3f3, 5%);
    overflow: hidden;
  }

  .demo-info {
    margin-top: 3rem;
    margin-bottom: 1rem;
    background: #DAE1E2;
    padding: 1rem 2rem;
    border-radius: .5rem;
  }
}
