@media print {
    #map-print-sandbox {
        visibility: visible !important;
    }

    #legend-container-0 {
        display: none;
    }

    #export-print-preview-container {
        padding-bottom: 5px !important;
    }

    #left-pane {
        display: none;
    }
    
    #right-pane {
        display: none;
    }

    .tbox {
        display: none !important;
    }

    .tmask {
        display: none !important;
    }

    header {
        display: none !important;
    }

    #export-print-preview-map.div.control-container {
        display: none;
    }

    #export-print-preview-map {
        width: 100% !important;
        max-height: 750px;
    }

    #export-print-preview-map > #map-0 {
        max-height: 750px;
        height: 100%;
        top: 0 !important;
        position: relative !important;
    }

    #export-print-preview-map > #map-0 > #legend-container-0 {
        display: none !important;
    }

    #export-print-preview-map > #map-0 > #map-0_root {
        visibility: visible !important;
    }
    
    #export-print-preview-map > #map-0 > #map-0_root img.layerTile {
        visibility: visible !important;
    }

    #export-print-preview-map > #map-0 > #map-0_root > #map-0_zoom_slider {
        display: none;
    }

    .plugin-launcher {
        display: none;
    }
}

#export-print-preview-container {
    padding-bottom: 5px !important;
}

#export-print-preview-container.tinner > div.tcontent {
    max-height: 100% !important;
}

#export-print-preview-container.tinner > div.tcontent > div.popover {
    max-height: 100%;
}

#export-print-preview-container.tinner > div.tcontent > div.popover > div.popover-content {
    max-height: 95%;
    height: 95%;
    padding-bottom: 5px;
    padding-top: 10px;
}


#export-print-preview-map.div.control-container {
    display: none;
}

#export-print-preview-map {
    width: 100% !important;
    max-height: 200px;
}

#export-print-preview-map > #map-0 {
    max-height: 200px;
    height: 100%;
    top: 0 !important;
    position: relative !important;
}

#export-print-preview-map > #map-0 > #legend-container-0 {
    display: none !important;
}
