/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Top Bar
:: Content Area - Sidebar
:: Content Area - Map
:: Media Queries
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

html, body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
}

/*------------------------------------------
    EXT Style "adjustments"
------------------------------------------*/
.x-grid-cell
{
    padding: 0px;
}

/* -----------------------------------------
   Top Bar Styling
----------------------------------------- */

.top-bar {
	margin-bottom: 0;
	background: #26648E;
	}
	.top-bar ul > li.divider {
		background: white;
		background: rgba(255,255,255,.5);
	}
	.top-bar ul > li.name h1 {
		background: white;
		position: relative;
		float: left;
		}
		.top-bar ul > li.name h1:after {
			content: '';
			position: absolute;
			right: -15px;
			top: 0;
			width: 0;
			height: 0;
			border-top: 0px solid transparent;
			border-left: 15px solid white;
			border-bottom: 45px solid transparent;
		}
		.top-bar ul > li.name h1 a {
			color: #26648E;
			text-transform: uppercase;
			font-size: 16px !important;
		}
	.top-bar ul > li.name h2{
		font-size: 16px;
		float: left;
		margin-left: 22px;
		color: white;
		text-transform: uppercase;
	    
	}
    .top-bar ul > li.name h2 a {
        font-size: inherit;
        line-height: normal;
    }
		
	.top-bar ul > li:not(.name):hover, 
	.top-bar ul > li:not(.name).active, 
	.top-bar ul > li:not(.name):focus {
		background: white;
		background: rgba(255,255,255,.25);
		}
		.top-bar ul > li:not(.name):hover a, 
		.top-bar ul > li:not(.name).active a, 
		.top-bar ul > li:not(.name):focus a {
			color: rgb(14, 133, 138);
			color: rgba(255,255,255,1);
		}
	
	.top-bar ul.left {
		margin-left: 26px;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
	}
	
	
/* -----------------------------------------
   Content Area - Helpers
----------------------------------------- */
	
.content {
    position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	float: left;
	display: none;
}
.view-left #left-pane,
.view-right #right-pane,
.view-split .content {
	display: block;
}
.view-split .content {
	width: 50%;
}

/* -----------------------------------------
   Content Area - Sidebar
----------------------------------------- */
	

	.content .sidebar {
		width: 85px;
		height: 100%;
		background: #333;
		position: relative;
		float: left;

		box-shadow: 0 0 20px #666;
		box-shadow: 0 0 20px rgba(0,0,0,.5);
		z-index: 9;
		}
		.content .sidebar ul.side-nav {
			padding: 0;
			}
			.content .sidebar ul.side-nav li {
				margin: 0;
				}
				.content .sidebar ul.side-nav li:hover a {
					background: #222;
					color: #FFF;
				}
				.content .sidebar ul.side-nav li a {
					text-align: center;
					color: #939598;
					min-height: 75px;
					padding: 8px 0 8px;
					font-size: 12px;
					font-weight: 700;
					line-height: 16px;
				}
			.content .sidebar ul.side-nav.top {
				overflow: hidden;
				box-shadow: 0 0 15px black inset;
			}
			.content .sidebar ul.side-nav.top li {
				border-bottom: #808285 solid 1px;
				}
				.content .sidebar ul.side-nav.top li:last-child {
					border-bottom: none;
				}
				.content .sidebar ul.side-nav.top li.active a {
					background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
					background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
					color: #FFF;
				}
		
		.content .sidebar ul.side-nav.bottom {
			position: absolute;
			bottom: 0;
			background: #444;
			}
			.content .sidebar ul.side-nav.bottom > li.divider {
				border-top: #808285 solid 1px;
			}
			
		.content .sidebar img.icon {
			width: 32px;
			height: 32px;
			display: block;
			margin: 0 auto 7px;
			border: none;
			color: transparent;
		}

    .content .plugin-container {
        position: absolute;
        border: 5px #444 solid;
        border-radius: 5px;
        width: 300px;
        height: 400px;
        overflow: visible;
        background: #FFFFFF;
        z-index: 999;
        box-shadow: 0 0 15px #333;
		box-shadow: 0 0 15px rgba(0,0,0,.5);
        }
        .content .plugin-container-header {
            height: 28px;
            padding: 5px 8px;
			background: #444;
			overflow: hidden;
            }
            .content .plugin-container-header h6 {
            	float: left;
            	margin: 0;
            	color: white;
            }
            .content .plugin-container-header a {
                float: right;
				color: #CCC;
				font-weight: bold;
				padding: 6px;
				position: relative;
				top: -6px;
				right: -8px;
				width: 26px;
				text-align: center;
				border-radius: 4px;
            	}
            	.content .plugin-container-header a.plugin-off {
            		border-left: 1px solid #666;
            	}
            	.content .plugin-container-header a.plugin-close {}
            	.content .plugin-container-header a:hover {
            		background: black;
            		color: white;
            	}

        .content .plugin-container-inner {
            height: 362px; 
            padding-top: 2px;
        }

.tinner .tclose {
    font-size: 15px;
    padding: 5px 0;
}

.tclose {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 3px 4px;
	background: #AAA;
	border-radius: 99px;
	color: white;
	font-weight: 700;
	z-index: 99;
	height: 24px;
	line-height: 7px;
	text-indent: 1px;
	width: 24px;
	font-size: 28px;
	text-shadow: 0 1px 2px #222;
	text-shadow: 0 1px 2px rgba(0,0,0,.75);
	border: white 3px solid;
	box-shadow: 0 1px 7px #222;
	box-shadow: 0 1px 7px rgba(0,0,0,.5);
	}
	.tclose:hover {
		background: #BE1E2D;
	    box-shadow: 0 1px 7px #000;
	    box-shadow: 0 1px 7px rgba(0,0,0,.85);
	}


       

/* -----------------------------------------
   Content Area - Map
----------------------------------------- */

    .content .map-outer {
        width: 100%;
		height: 100%;
		margin-left: 85px;
		margin-left: 0;
		display: inline-block;
		position: absolute;
    }		
	.content .map {
		width: 100%;
		height: 100%;
        padding-right: 85px;
		background: #EEE;
		position: relative;
		}
		.content .map .tools {
			position: absolute;
			top: 90px;
			left: 20px;
            z-index: 1;
			}
            .content .map .tools .topbar-plugin {
                margin-bottom: 10px;
                position: relative;
                width: auto;
                float: left;
                clear: both;
            	}
                .content .map .tools .topbar-plugin .topbar-tools {
                    display: none;
                }
                .content .map .tools .topbar-plugin.active .topbar-tools {
                    display: block;
                }
                .content .map .tools .topbar-plugin .topbar-tools .plugin-clear {
                	position: absolute;
					bottom: -12px;
					right: -14px;
					padding: 3px 4px;
					background: #AAA;
					border-radius: 99px;
					color: white;
					font-size: 12px;
					text-shadow: 0 1px 2px #222;
					text-shadow: 0 1px 2px rgba(0,0,0,.75);
					border: white 3px solid;
					box-shadow: 0 1px 7px #222;
					box-shadow: 0 1px 7px rgba(0,0,0,.5);
					z-index: 99;
                	}
                	.content .map .tools .topbar-plugin .topbar-tools .plugin-clear:hover {
                		background: #BE1E2D;
						box-shadow: 0 1px 7px #000;
						box-shadow: 0 1px 7px rgba(0,0,0,.85);
                	}

			.content .map .tools .topbar-plugin a.plugin-launcher > div {
				width: 34px;
				height: 34px;
				background-color: white;
				background-repeat: no-repeat;
				background-position: 8px 8px;
				overflow: hidden;
				border-radius: 4px;
				opacity: .75;
				cursor: pointer;
                box-shadow: 0 0 12px black;
				box-shadow: 0 0 12px rgba(0,0,0,.25);
                border: 1px solid #999;
				}
				.content .map .tools .topbar-plugin.active a.plugin-launcher > div {
					opacity: 1;
					border: 1px solid #212323;
					box-shadow: 0 0 15px black inset;
					background-color: #999;
					box-shadow: 0 0 15px rgba(0,0,0,.5) inset;
				}
				.content .map .tools .topbar-plugin a.plugin-launcher > div:hover {
					opacity: 1;
				}
            .esriSimpleSlider {
                box-shadow: 0 0 12px black;
                box-shadow: 0 0 12px rgba(0,0,0,.25);
                border: 1px solid #999;
            }
            .esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
                border-bottom: 1px solid #999;
            }
            .esriSimpleSlider div {
            	width: 32px;
            }
			
		.content .map .basemap-selector {
			position: absolute;
			top: 16px;
			right: 105px;
			cursor: pointer;
            z-index: 9;
            display: block;
            background: white;
            background: rgba(255,255,255,.0);
			}
			.content .map .basemap-selector:hover .basemap-selector-list {
				display: block;
			}
			.content .map .basemap-selector .basemap-selector-title {
				padding: 10px 15px;
				font-weight: bold;
				font-size: 12px;
				display: block;
				text-align: center;
				position: relative;
				width: auto;
				background: white;
				box-shadow: 0 0 12px #666;
				box-shadow: 0 0 12px rgba(0,0,0,.25);
				border-radius: 4px;
				}
			.content .map .basemap-selector .basemap-selector-list {
				display: none;
				margin-top: 8px;
				background: white;
				padding: 5px 0;
				box-shadow: 0 0 12px #666;
				box-shadow: 0 0 12px rgba(0,0,0,.25);
				position: relative;
				border-radius: 4px;
				}
				.content .map .basemap-selector .basemap-selector-list:before {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					right: 15px;
					top: -6px;
					display: block;
					border-bottom: 6px solid white;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
				}
				.content .map .basemap-selector .basemap-selector-list ul {
					list-style: none;
					padding: 0;
					margin: 0;
					}
					.content .map .basemap-selector .basemap-selector-list ul li {
						font-size: 12px;
						font-weight: bold;
						padding: 5px 15px;
						color: #999
					}
					.content .map .basemap-selector .basemap-selector-list ul li:hover {
    					background: #EEE;
    					color: #212323;
					}


/* -----------------------------------------
   "Identify" result window
----------------------------------------- */

/* Fix conflict between esri InfoWindow's "content" class and our "content" class*/
.esriPopup .esriPopupWrapper {
	box-shadow: 0 0 14px #666;
	box-shadow: 0 0 14px rgba(0,0,0,.5);
	border-radius: 4px;
}
.esriPopup .contentPane {
	border-bottom: 1px solid #999999;
	border-radius: 0 0 4px 4px;
}

.identify-info-window .content {
    display: block;
    width: 100%;
}

.identify-section {
    font-weight: bold;
    cursor: pointer;
}

.identify-results {
	font-weight: 300;
	font-size: 13px;
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
	padding-bottom: 6px;
}

.result-of-identify {
    padding-left: 20px;
    cursor: pointer;
    position: relative;
	}
	.identify-result > div > .result-of-identify.with-arrow:hover {
		opacity: .75;
	}
	.identify-result > div > .result-of-identify.with-arrow:after {
		content: '';
		display: block;
		position: absolute;
		left: 4px;
		border-top: 8px solid gray;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		top: 2px;
	}
	.identify-result > div > .result-of-identify.with-arrow.collapsed:after {
		content: '';
		display: block;
		position: absolute;
		right: 4px;
		border-left: 8px solid gray;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		top: 2px;
	}



/* -----------------------------------------
   Legend
----------------------------------------- */

.content .legend {
	position: absolute;
	bottom: 16px;
	right: 105px;
	width: 160px;
	padding: 10px 15px;
	z-index: 1;
	overflow: auto;
	font-weight: bold;
	background: #FFF;
	font-size: 12px;
	border-radius: 4px;
	max-height: 440px;
	box-shadow: 0 0 12px #666;
	box-shadow: 0 0 12px rgba(0,0,0,.25);
	}
	.content .legend #legend-0_msg,
	.content .legend #legend-1_msg {
		color: #888;
		font-weight: 400;
	}

    .content .legend #legend-0_msg {
        display: none;
    }

.esriLegendService {
    padding-bottom: 8px;
	}
	.esriLegendService table {
	    margin: 0;
	    border: none;
		}
		.esriLegendService table tbody tr {
		    background-color: #FFF;
			}
			.esriLegendService td {
			    padding: 0;
			    vertical-align: middle;
			    line-height: normal;
			    font-weight: 300;
			}
			.esriLegendService img {
			    height: 18px;
			    border: 1px solid #DDD;
			}

.esriLegendLayerLabel {
	position: relative;
	padding-bottom: 5px;
	padding-top: 5px;
	height: 25px;
}

.mCSB_container {
	margin-right: 0 !important;
}
.mCSB_scrollTools .mCSB_draggerRail,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	float: right;
	width: 5px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #62C5C9;
	background: rgba(98,197,201,.65);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
	background: #62C5C9;
	background: rgba(98,197,201,.95);
}

/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media all and (max-width: 720px) {
	.top-bar ul > li.name {
		background: transparent;
	}
	.top-bar ul > li.divider {
		border-top: none;
		border-bottom: 1px solid white;
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
}

@media all and (max-height: 768px) {
	.content .sidebar ul.side-nav.bottom > li a.hide-for-tablet {
		max-height: 38px;
		min-height: 38px;
		}
		.content .sidebar ul.side-nav.bottom > li a.hide-for-tablet .icon {
			display: none;
		}
	.content .legend {
		max-height: 300px;
	}
}

/* -----------------------------------------
   Export Window
----------------------------------------- */
.export-orientation-choices {
    float: left;
}
.export-legend-choice {
    float: left;
    padding-left: 25px;
}
.export-controls {
    float: right;
}
.export-indicator {
    display: none;
    float: right;
    padding-right: 20px;
}
.export-output-area {
    padding-top: 80px;
    text-alignment: center;
}


/* TinyBox overrides */
.tinner {
    overflow: auto;
}

/* -----------------------------------------
   IE8 Style Overrides
----------------------------------------- */

.lt-ie9 {
	
}