/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Top Bar
:: Content Area - Sidebar
:: Content Area - Map
:: Media Queries
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

html, body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
}


/* -----------------------------------------
   Top Bar Styling
----------------------------------------- */

.top-bar {
	margin-bottom: 0;
	background: #30BBC1;
	}
	.top-bar ul > li.divider {
		background: white;
		background: rgba(255,255,255,.5);
	}
	.top-bar ul > li.name h1 {
		background: white;
		position: relative;
		float: left;
		}
		.top-bar ul > li.name h1:after {
			content: '';
			position: absolute;
			right: -15px;
			top: 0;
			width: 0;
			height: 0;
			border-top: 0px solid transparent;
			border-left: 15px solid white;
			border-bottom: 45px solid transparent;
		}
		.top-bar ul > li.name h1 a {
			color: #30BBC1;
			text-transform: uppercase;
			font-size: 16px !important;
		}
	.top-bar ul > li.name h2 {
		font-size: 16px;
		float: left;
		margin-left: 25px;
		color: white;
		text-transform: uppercase;
	}
		
	.top-bar ul > li:not(.name):hover, 
	.top-bar ul > li:not(.name).active, 
	.top-bar ul > li:not(.name):focus {
		background: white;
		background: rgba(255,255,255,.25);
		}
		.top-bar ul > li:not(.name):hover a, 
		.top-bar ul > li:not(.name).active a, 
		.top-bar ul > li:not(.name):focus a {
			color: rgb(14, 133, 138);
			color: rgba(255,255,255,1);
		}
	
	.top-bar ul.left {
		margin-left: 26px;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
	}
	
	
/* -----------------------------------------
   Content Area - Helpers
----------------------------------------- */
	
.view-left .content.left-pane,
.view-right .content.right-pane,
.view-split .content {
	display: block;
}
.view-split .content,
.view-split .content .map {
	width: 50%;
}

.content {
	height: 100%;
	width: 100%;
	overflow: hidden;
	float: left;
	display: none;
	}

/* -----------------------------------------
   Content Area - Sidebar
----------------------------------------- */
	

	.content .sidebar {
		width: 85px;
		height: 100%;
		background: #333;
		position: relative;
		float: left;
		box-shadow: 0 0 20px rgba(0,0,0,.5);
		z-index: 9;
		}
		.content .sidebar ul.side-nav {
			padding: 0;
			}
			.content .sidebar ul.side-nav > li {
				margin: 0;
				}
				.content .sidebar ul.side-nav > li:hover a {
					background: #222;
					color: #FFF;
				}
				.content .sidebar ul.side-nav > li a {
					max-height: 75px;
					text-align: center;
					color: #939598;
					min-height: 75px;
					padding: 10px 0 0;
					font-size: 12px;
					font-weight: 700;
				}
			.content .sidebar ul.side-nav.top > li {
				border-bottom: #808285 solid 1px;
				}
				.content .sidebar ul.side-nav.top > li.active a {
					background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
					background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
					color: #FFF;
				}
		
		.content .sidebar ul.side-nav.bottom {
			position: absolute;
			bottom: 20px;
			}
			.content .sidebar ul.side-nav.bottom > li.divider {
				border-top: #808285 solid 1px;
			}
			
		.content .sidebar img.icon {
			width: 32px;
			height: 32px;
			display: block;
			margin: 0 auto 7px;
			border: none;
			color: transparent;
		}


/* -----------------------------------------
   Content Area - Map
----------------------------------------- */
		
	.content .map {
		width: 100%;
		height: 100%;
		background: #EEE;
		position: relative;
		margin-left: 85px;
		}
		.content .map .tools {
			position: absolute;
			top: 16px;
			left: 50px;
            z-index: 1;
			}
			.content .map .tools .topbar-plugin > div {
				width: 32px;
				height: 32px;
				background-color: white;
				background-repeat: no-repeat;
				background-position: 8px 8px;
				overflow: hidden;
				border-radius: 4px;
				float: left;
				opacity: .65;
				cursor: pointer;
				box-shadow: 0 0 12px rgba(0,0,0,.25);
				}
				.content .map .tools > div:hover {
					opacity: 1;
				}
				
			.content .map .search-box {
				margin-right: 12px;
				background-image: url(../img/tools_search.png);
				transition: width 1s;
				-moz-transition: width 1s;
				-webkit-transition: width 1s;
				-o-transition: width 1s;
				}
				.content .map .search-box:hover {
					width: 180px;
				}
				.content .map .search-box input {
					margin-left: 34px;
					width: 146px;
					border: none;
					background-color: #FAFAFA;
					outline-color: transparent;
					}
					.content .map .search-box input:focus {
						box-shadow: none;
						border-color: none;
						background: #FFF;
					}

			.content .map .measure {		
				background-image: url(../img/tools_measure.png);
			}
			
		.content .map .basemap-selector {
			position: absolute;
			top: 16px;
			right: 20px;
			width: 110px;
			height: 120px;
			background: white;
			padding: 5px;
			cursor: pointer;
			box-shadow: 0 0 12px rgba(0,0,0,.25);
			}
			.content .map .basemap-selector .basemap-selector-preview {
				width: 100%;
				height: 90px;
				background: #DDD;
			}
			.content .map .basemap-selector .basemap-selector-title {
				padding-top: 5px;
				font-weight: bold;
				font-size: 12px;
				text-align: center;
			}
			.content .map .basemap-selector .basemap-selector-list {
				display: none;
				position: absolute;
				right: 0;
				padding-top: 15px;
				width: 160px;
				}
				.content .map .basemap-selector .basemap-selector-list ul {
					list-style: none inside;
					padding: 0;
					margin: 0;
					background: white;
					box-shadow: 0 0 12px rgba(0,0,0,.25);
					}
					.content .map .basemap-selector .basemap-selector-list ul li {
						font-size: 12px;
						font-weight: bold;
						padding: 4px 4px 4px 0;
						margin-left: 26px;
					}
					.content .map .basemap-selector .basemap-selector-list ul li:hover {
						list-style: disc outside;
					}
				.content .map .basemap-selector:hover .basemap-selector-list {
					display: block;
				}
			
			
/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media all and (max-width: 720px) {
	.top-bar ul > li.name {
		background: transparent;
	}
	.top-bar ul > li.divider {
		border-top: none;
		border-bottom: 1px solid white;
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
}

@media all and (max-height: 768px) {
	.content .sidebar ul.side-nav.bottom > li a.hide-for-tablet {
		max-height: 38px;
		min-height: 38px;
		}
		.content .sidebar ul.side-nav.bottom > li a.hide-for-tablet .icon {
			display: none;
		}
}