/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Top Bar
:: Content Area - Sidebar
:: Content Area - Map
:: Media Queries
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
}

input.code-like, textarea.code-like {
    font-family: "Courier New", Courier, monospace;
}

.hidden {
    display: none;
}

/*------------------------------------------
    EXT Style "adjustments"
------------------------------------------*/
.x-grid-cell
{
    padding: 0px;
}

.x-body {
    color: #444;
}

/* -----------------------------------------
   Top Bar Styling
----------------------------------------- */

.top-bar {
    margin-bottom: 0;
    }
    .top-bar ul > li.divider {
        background: white;
        background: rgba(255,255,255,.5);
    }
     .top-bar ul span.dropdown-arrow {
           font-size: 10px;
            margin-left: 4px;
    }
    .top-bar ul > li.name h1 {
        background: white;
        position: relative;
        float: left;
        }
        .top-bar ul > li.name h1:after {
            content: '';
            position: absolute;
            right: -15px;
            top: 0;
            width: 0;
            height: 0;
            border-top: 0px solid transparent;
            border-left: 15px solid white;
            border-bottom: 45px solid transparent;
        }
        .top-bar ul > li.name h1 a {
            text-transform: uppercase;
            font-size: 16px !important;
        }
    .top-bar ul > li.name h2{
        font-size: 16px;
        float: left;
        margin-left: 22px;
        color: white;
        text-transform: uppercase;

    }
    .top-bar ul > li.name h2 a {
        font-size: inherit;
        line-height: normal;
    }

    .top-bar ul > li:not(.name):hover,
    .top-bar ul > li:not(.name).active,
    .top-bar ul > li:not(.name):focus {
        background: white;
        background: rgba(255,255,255,.25);
        }
        .top-bar ul > li:not(.name):hover a,
        .top-bar ul > li:not(.name).active a,
        .top-bar ul > li:not(.name):focus a {
            color: rgb(14, 133, 138);
            color: rgba(255,255,255,1);
        }

    .top-bar ul.left {
        margin-left: 26px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }

    /* Copied from foundation */
    .top-bar>ul .name h1,
    .top-bar>ul .name h2 {
        margin: 0;
    }

    /* Copied from foundation */
    .top-bar ul>li.name h1 a,
    .top-bar ul>li.name h2 a {
        line-height: 45px !important;
    }

.control-container {
    position: absolute;
    width: 100%;
    z-index: 2;
}
    .control-container.subregion-active {
        top: 40px;
    }

/* -----------------------------------------
   Content Area - Helpers
----------------------------------------- */

.content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    float: left;
    display: none;
}
.view-left #left-pane,
.view-right #right-pane,
.view-split .content {
    display: block;
}
.view-split .content {
    width: 50%;
}

/* -----------------------------------------
   Content Area - Sidebar
----------------------------------------- */
    .content .sidebar {
        width: 85px;
        height: 100%;
        background: #333;
        position: relative;
        float: left;

        box-shadow: 0 0 20px #666;
        box-shadow: 0 0 20px rgba(0,0,0,.5);
        z-index: 9;
        }
        .content .sidebar ul.side-nav {
            padding: 0;
            }
            .content .sidebar ul.side-nav li {
                margin: 0;
                }
                .content .sidebar ul.side-nav li:hover a {
                    background: #222;
                    color: #FFF;
                }
                .content .sidebar ul.side-nav li a {
                    text-align: center;
                    color: #939598;
                    min-height: 75px;
                    padding: 8px 0 8px;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                }
            .content .sidebar ul.side-nav.top {
                overflow: hidden;
                box-shadow: 0 0 15px black inset;
            }
            .content .sidebar ul.side-nav.top li {
                border-bottom: #808285 solid 1px;
                }
                .content .sidebar ul.side-nav.top li:last-child {
                    border-bottom: none;
                }
                .content .sidebar ul.side-nav.top li.active a {
                    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
                    color: #FFF;
                }

        .content .sidebar ul.side-nav.bottom {
            position: absolute;
            bottom: 0;
            background: #444;
            }
            .content .sidebar ul.side-nav.bottom > li.divider {
                border-top: #808285 solid 1px;
            }

        .content .sidebar img.icon {
            width: 32px;
            height: 32px;
            display: block;
            margin: 0 auto 7px;
            border: none;
            color: transparent;
        }
        .content .sidebar-plugin .plugin-launcher div {
            padding: 0 12px;
        }

    .content .plugin-container-outer {
        position: absolute;
        border: 5px #444 solid;
        border-radius: 5px;
        background: #FFFFFF;
        z-index: 100;
        box-shadow: 0 0 15px #333;
        box-shadow: 0 0 15px rgba(0,0,0,.5);
        }

    .content .plugin-container {
        width: 100%;
        height: 100%;
        overflow: visible;
        }
        .content .plugin-container-outer.resizable .plugin-container {
            padding-bottom: 28px; /* reduces inner container's 100% height by header's height */
        }
        .content .plugin-container-header {
            height: 28px;
            padding: 5px 8px;
            background: #444;
            overflow: hidden;
            cursor: move;
            }
            .content .plugin-container-header h6 {
                float: left;
                margin: 0;
                color: white;
            }
            .content .plugin-container-header a,
            .content .legend .legend-header a {
                float: right;
                color: #CCC;
                font-weight: bold;
                padding: 6px;
                position: relative;
                top: -6px;
                right: -8px;
                width: 26px;
                text-align: center;
                border-radius: 4px;
                }
                .content .plugin-container-header a.plugin-off {
                    border-left: 1px solid #666;
                }
                .content .plugin-container-header a:hover,
                .content .legend .legend-header a:hover {
                    background: black;
                    color: white;
                }

        .content .plugin-container-inner {
            height: 100%;
            padding-top: 2px;
            overflow: auto;
        }

        .content .plugin-infographic {
            text-align: right;
            display: none;
        }

        .content .plugin-infographic .graphic {
            display: block;
            max-width: none;
        }

        .content  .plugin-infographic label {
            display: inline;
        }

.tinner .tclose {
    font-size: 14px;
    padding: 6px;
    right: 26px;
}

.tclose {
    position: absolute;
    top: 20px;
    right: 24px;
    cursor: pointer;
    padding: 6px;
    background: #FFF;
    border-radius: 4px;
    color: #CCC;
    font-weight: 700;
    z-index: 99;
    height: 24px;
    line-height: 10px;
    width: 24px;
    }
    .tclose:hover {
        background: #F1F2F2;
        color: #333;
    }

.tcontent h3 {
    margin-top: 4px;
}



/* -----------------------------------------
   Content Area - Map
----------------------------------------- */

    .content .map-outer {
        width: 100%;
        height: 100%;
        margin-left: 85px;
        margin-left: 0;
        display: inline-block;
        position: absolute;
    }
    .content .map {
        width: 100%;
        height: 100%;
        padding-right: 85px;
        background: #EEE;
        position: relative;
        }
        .content .map .top-tools {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 1;
            }
        .content .map .tools {
            position: absolute;
            top: 92px;
            left: 20px;
            z-index: 1;
            }
            .content .map .topbar-plugin {
                margin-bottom: 10px;
                position: relative;
                width: auto;
                float: left;
                clear: both;
                }
                .content .map .topbar-plugin .topbar-tools {
                    display: none;
                }
                .content .map .topbar-plugin.active .topbar-tools {
                    display: block;
                }
                .content .map .topbar-plugin .topbar-tools .plugin-clear {
                    position: absolute;
                    bottom: -12px;
                    right: -14px;
                    padding: 3px 4px;
                    background: #AAA;
                    border-radius: 99px;
                    color: white;
                    font-size: 12px;
                    text-shadow: 0 1px 2px #222;
                    text-shadow: 0 1px 2px rgba(0,0,0,.75);
                    border: white 3px solid;
                    box-shadow: 0 1px 7px #222;
                    box-shadow: 0 1px 7px rgba(0,0,0,.5);
                    z-index: 99;
                    }
                    .content .map .topbar-plugin .topbar-tools .plugin-clear:hover {
                        background: #BE1E2D;
                        box-shadow: 0 1px 7px #000;
                        box-shadow: 0 1px 7px rgba(0,0,0,.85);
                    }

            .content .map .topbar-plugin a.plugin-launcher > div {
                width: 34px;
                height: 34px;
                background-color: white;
                background-repeat: no-repeat;
                background-position: 8px 8px;
                overflow: hidden;
                border-radius: 4px;
                opacity: .75;
                cursor: pointer;
                box-shadow: 0 0 12px black;
                box-shadow: 0 0 12px rgba(0,0,0,.25);
                border: 1px solid #999;
                }
                .content .map .topbar-plugin.active a.plugin-launcher > div {
                    opacity: 1;
                    border: 1px solid #212323;
                    box-shadow: 0 0 15px black inset;
                    background-color: #999;
                    box-shadow: 0 0 15px rgba(0,0,0,.5) inset;
                }
                .content .map .topbar-plugin a.plugin-launcher > div:hover {
                    opacity: 1;
                }
            .esriSimpleSlider {
                box-shadow: 0 0 12px black;
                box-shadow: 0 0 12px rgba(0,0,0,.25);
                border: 1px solid #999;
            }
            .esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
                border-bottom: 1px solid #999;
            }
            .esriSimpleSlider div {
                width: 32px;
            }
            .esriSimpleSlider.subregion-active {
                top: 103px !important;
            }

        .content .map .basemap-selector {
            position: absolute;
            top: 16px;
            right: 105px;
            cursor: pointer;
            z-index: 9;
            display: block;
            background: white;
            background: rgba(255,255,255,.0);
            }
            .content .map .basemap-selector:hover .basemap-selector-list {
                display: block;
            }
            .content .map .basemap-selector .basemap-selector-title {
                padding: 10px 15px;
                font-weight: bold;
                font-size: 12px;
                display: block;
                text-align: center;
                position: relative;
                width: auto;
                background: white;
                box-shadow: 0 0 12px #666;
                box-shadow: 0 0 12px rgba(0,0,0,.25);
                border-radius: 4px;
            }
                .content .map .basemap-selector .basemap-selector-title > span {
                    padding-left: 13px;
                }
            .content .map .basemap-selector .basemap-selector-list {
                display: none;
                margin-top: 8px;
                background: white;
                padding: 5px 0;
                box-shadow: 0 0 12px #666;
                box-shadow: 0 0 12px rgba(0,0,0,.25);
                position: relative;
                border-radius: 4px;
                }
                .content .map .basemap-selector .basemap-selector-list:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: 15px;
                    top: -6px;
                    display: block;
                    border-bottom: 6px solid white;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                }
                .content .map .basemap-selector .basemap-selector-list ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    }
                    .content .map .basemap-selector .basemap-selector-list ul li {
                        font-size: 12px;
                        font-weight: bold;
                        padding: 5px 15px;
                        color: #999
                    }
                    .content .map .basemap-selector .basemap-selector-list ul li:hover {
                        background: #EEE;
                        color: #212323;
                    }


/* -----------------------------------------
   "Identify" result window
----------------------------------------- */

/* Fix conflict between esri InfoWindow's "content" class and our "content" class*/
.esriPopup .esriPopupWrapper {
    box-shadow: 0 0 14px #666;
    box-shadow: 0 0 14px rgba(0,0,0,.5);
    border-radius: 4px;
}
.esriPopup .contentPane {
    border-bottom: 1px solid #999999;
    border-radius: 0 0 4px 4px;
}

.identify-info-window .content {
    display: block;
    width: 100%;
}

.identify-section {
    font-weight: bold;
    cursor: pointer;
}

.identify-results {
    font-weight: 300;
    font-size: 13px;
    font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
    padding-bottom: 6px;
}

.result-of-identify {
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    }
    .identify-result > div > .result-of-identify.with-arrow:hover {
        opacity: .75;
    }
    .identify-result > div > .result-of-identify.with-arrow:after {
        content: '';
        display: block;
        position: absolute;
        left: 4px;
        border-top: 8px solid gray;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        top: 2px;
    }
    .identify-result > div > .result-of-identify.with-arrow.collapsed:after {
        content: '';
        display: block;
        position: absolute;
        right: 4px;
        border-left: 8px solid gray;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        top: 2px;
    }

.result-of-identify .identify-header-label {
    padding: 3px;
}
    .result-of-identify .identify-header-label span {
        font-weight: bold;
        margin-right: 2px;
    }

.result-of-identify .attributes > table {
    width: 95%;
}

.result-of-identify .attributes > table td {
    padding: 3px 3px !important;
}

.result-of-identify .attributes > table tr:nth-child(odd) {
    background-color: #e2e2e2;
 }


/* -----------------------------------------
   Legend
----------------------------------------- */

.content .legend {
    position: absolute;
    bottom: 45px;
    right: 105px;
    height: 200px;
    width: 255px;
    min-width: 255px;
    z-index: 101; /* show over plugin-container */
    font-weight: bold;
    background: #FFF;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 0 12px #666;
    box-shadow: 0 0 12px rgba(0,0,0,.25);
    padding-bottom: 36px; /* header offset */
    overflow:visible;
    display: none;
    }
    .content .legend.minimized {
        height: 0;
        min-height: 0;
    }
    .content .legend .legend-header {
        padding: 10px;
        background: #444;
        color: #fff;
        cursor: move;
    }
    .content .legend .legend-body {
        padding: 10px 15px;
        overflow: auto;
        height: 100%;
        width: 100%;
    }

.layer-legends {
    overflow: hidden;
}
.legend-layer {
    float: left;
    width: 215px;
    margin-bottom: 10px;
    background-color: #fff;
    }
    .legend-layer .item {
        float: left;
        clear: left;
    }
    .legend-layer .extra {
        display: none;
    }
    .legend-layer.show-extras .extra {
        display: block;
    }
    .legend-layer.show-extras .expand {
        display: none;
    }
    .legend-layer.scale .item {
        clear: none;
    }
    .legend-layer img {
        border: none;
    }
    .legend-layer .item-label {
        position: relative;
        top: -4px;
    }
    .legend-layer .legend-title {
        margin-bottom: 5px;
    }

.mCSB_container {
    margin-right: 0 !important;
}
.mCSB_scrollTools .mCSB_draggerRail,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    float: right;
    width: 10px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #fff;
    background: rgba(255, 255, 255, .85);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background: #fff;
    background: rgba(255, 255, 255, .95);
}

/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media all and (max-width: 720px) {
    .top-bar ul > li.name {
        background: transparent;
    }
    .top-bar ul > li.divider {
        border-top: none;
        border-bottom: 1px solid white;
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
}

@media all and (max-height: 768px) {
    .content .sidebar ul.side-nav.bottom > li a.hide-for-tablet {
        max-height: 38px;
        min-height: 38px;
        }
        .content .sidebar ul.side-nav.bottom > li a.hide-for-tablet .icon {
            display: none;
        }
    .content .legend {
        max-height: 550px;
    }
}

/* -----------------------------------------
   Export Window
----------------------------------------- */
.export-ui .row {
    width: 100%;
    min-width: 100%;
}

.export-output-area {
    margin-top: 10px;
}

.export-indicator {
    display: none;
    float: right;
    padding-right: 20px;
}


/* TinyBox overrides */
.tbox{
    top: 100px!important;
    min-width: 500px!important;
}

.tinner {
    overflow: hidden;
    padding: 0!important;
    min-height: 380px!important;
    width: 100%;
}

.tinner .tclose{
    color: #ffffff;
    opacity: 0.8;
    background: transparent;
}

.tinner .tclose:hover{
    color: #ffffff;
    opacity: 1;
}

.popover, .tcontent, .popover-content{
    height: 100%;
    max-height: 600px;
}

.popover-header{
    background-color: #606060;
    width: 100%;
    padding: 16px;
    height: 50px;
}

.popover h2{
    font-size: 16px;
    color: #ffffff;
    margin: 0!important;
    text-transform: uppercase;
}

.popover h3{
    color: #444;
    font-size: 16px;
}

.popover .popover-content{
    position: relative;
    width: 100%;
    padding: 14px 0;
    overflow-y: auto;
    height: 90%;
    max-height: 548px;
}
.popover .row{
    width: 100%;
    min-width: 100%;
    padding: 2px 16px;
}

#launchpad {
    height: 80%!important;
}

.launchpad{
    width: 100%;
    height: 100%;
}

.launchpad .row .well{
    background-color: #e9eaea;
    border-radius: 6px;
    padding: 14px;
}

.launchpad .well .description{
    width: 100%;
    display: inline-block;
}

.launchpad .well .description p{
    font-size: 14px;
    line-height: 1.2;
}

.launchpad .well .description h3{
    font-size: 18px;
    line-height: 15px;
    color: #333333;
}

.launchpad .well .thumbs{
    width: 100%;
    display: inline-block;
}

.launchpad .well ul{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.launchpad .well ul li{
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border: solid 1px #aaaaaa;
    color: #444444;
    padding: 10px;
    border-radius: 6px;
    white-space: normal;
    vertical-align: top;
    margin-right: 4px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    transition: background-color 0.3s ease-out;
    position: relative;
}

.launchpad .well ul li i{
    color: #41a3a8;
}

.launchpad .well ul li:hover{
    background-color: #41a3a8;
    border: solid 1px #41a3a8;
    color: #ffffff;
}

.launchpad .well ul li:hover i{
    color: #ffffff;
}

.launchpad ul li i{
    display: block;
    padding: 16px;
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
}

.launchpad ul li label{
    display: block;
    font-size: 14px;
    padding: 0 2px;
    text-align: center;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    color: inherit;
}

/*Launchpad Media Queries*/

@media(min-width: 960px){
    .launchpad .well .description{
        width: 28%;
        vertical-align: top;
    }
    .launchpad .well .thumbs{
        width: 68%;
        margin-left: 2%;
    }
}

.tinner iframe {
    width: 100%;
    height: 400px;
    margin-top: 15px;
}

.export-ui .row .left-col { float: left; width: 60%; }
.export-ui .row .right-col { float: right; }
.export-ui .row p { margin: 0; }

/* -----------------------------------------
    Help Overlay overrides
--------------------------------------------*/
body #tlyPageGuideWrapper #tlyPageGuideMessages {
    top: 300px;
    margin: 0 5% 0 27%;
    width: 50%;
    max-height: 200px;
}
body #tlyPageGuideWrapper #tlyPageGuide li {
    background: #0a0a0a;
    background: rgba(10, 10, 10, 0.4);
}
body #tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_right:after,
body #tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_bottom:after,
body #tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_left:after {
    border-top: 15px solid #0a0a0a;
    border-top: 15px solid rgba(10, 10, 10, 0.4);
}
/* -----------------------------------------
   IE8 Style Overrides
----------------------------------------- */

.lt-ie9 {

}

/* ----------------------------------------
    Permalink dialog
------------------------------------------ */
#long-permalink-textbox {
    display: none;
}
/* ----------------------------------------
    Subregions
------------------------------------------- */
.subregion-tooltip.esriPopup .titlePane, .subregion-tooltip.esriPopup .actionsPane {
    display: none;
}

.subregion-tooltip.esriPopup .content, .subregion-tooltip.esriPopup .contentPane {
    display: block;
    color: #fff !important;
    background-color: #444 !important;
    font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
    border-bottom: none !important;
    border-radius: 12px;
    width: 100px;
}

.subregion-tooltip.esriPopup .esriPopupWrapper {
    border-radius: 12px;
    width: 100px;
}

.subregion-tooltip.esriPopup .pointer {
    background-color: #444;
}

.subregion-header {
    z-index: 10;
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: rgba(194, 32, 32, 0.5);
}

.subregion-header p {
    color: #fff;
    opacity: 1.0;
    padding: 11px;
    display: inline-block;
}

.subregion-header .leave {
    float: right;
    width: 200px;
}

.subregion-header .leave i {
  padding-right: 5px;
}

.subregion-header .header-region-selection  {
    width: 250px;
}

.subregion-header a, a.visited, a.link, a.active {
    color: #fff;
}

.subregion-border-box {
    position: absolute;
    z-index: 1;
    border: solid 2px rgba(194, 32, 32, 0.5);
    border-top: none;
    bottom: 0px;
}

.subregion-border-box.bottom {
    width: 100%;
    border-width: 3px;
    left: 4px;
}

.subregion-border-box.right {
    right: 0px;
    top: 50px;
    bottom: 3px;
}

.subregion-border-box.left {
    left: 0px;
    top: 50px;
}

.subregion-header select{
    height: 28px;
    background-color: #ffffff;
    border: 0;
    border-radius: 4px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
}

#plugin-print-sandbox {
    position: absolute;
    visibility: hidden;
}

.print-preview-container {
    padding: 10px;
}
#print-preview-container p {
    padding: 5px;
}

#print-preview-print {
    float: right;
}

.esriLegendMsg {
    display: none;
}