.measure-info-window .btn.btn-danger {
    color: #fff;
    background-color: #c9302c;
    padding: 5px;
    border-width: 0;
    border-radius: 2px;
}
.measure-tooltip {
    background-color: white;
    border: 1px solid #7EABCD;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
    color: #73787d;
    }
    .measure-tooltip > div {
        padding: 5px;
        }
        .measure-tooltip .measure-label, .measure-bubble .measure-label {
            font-weight: bold;
        }


.content .map .measure {
	  background-image: url(icon.png);
   }
   .content .map .active .measure {
        background-image: url(icon-active.png);
   }


/* Fix conflict between our "content" class and esri InfoWindow's "content" class */

.infowindow.measure-info-window .content {
    display: block;
    width: 100%;
    overflow: visible;
}
.infowindow.measure-info-window .close {
    display: none;
}

.infowindow.measure-info-window .border {
    display: none;
}

.infowindow.measure-info-window .window {
    top: 0 !important;
    left: 0 !important;
}

.infowindow.measure-info-window .layout.content{
    background-color: #fff;
    color: #212323;
    width: 230px;
    height: 60px;
    border: 1px solid #7EABCD;
    box-shadow: 0 0 15px #666;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 6px 10px;
    font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
    line-height: 18px;
}

.measure-bubble p {
    margin-bottom: 0;
}
