@media print {
    @page {
        size: letter landscape;
    }

    #map-print-sandbox {
        width: 10in;
        height: 6in;
    }

    #print-map-container {
        width: 10in;
        height: 6in;
    }

    #print-map-container > #export-print-preview-map {
        width: 9.9in;
        height: 5.9in;
    }

    #legend-container-0 {
        top: 80% !important;
        height: 20% !important;
    }

    .above-legend {
        bottom: 21%;
    }

    .page-bottom {
        bottom: 2%;
    }
}

#map-print-sandbox {
    width: 10in;
    height: 6in;
}

#print-map-container {
    width: 10in;
    height: 6in;
}

#print-map-container > #export-print-preview-map {
    height: 5.9in;
    width: 9.9in;
}
