@media print {
    #map-print-sandbox {
        visibility: visible !important;
    }
    .print-sandbox-header {
        display: none !important;
    }
    /* Hide all body map elements */
    body {
        visibility: hidden;
    }

    html, body {
        overflow: visible !important;
        height: auto !important;
    }

    /* An issue in Chrome for Windows would display the borders of this
       element in print media, despite it being selected by the clause above.*/
    .plugin-launcher {
        display: none;
    }

    /* Plugin print will only be one side of a split view map ever, so
       allow that side to take up the entire width of the screen */
    body.view-split .content {
        width: 100%;
    }

    #plugin-print-sandbox {
        visibility: visible;
        height: 100%;
        width: 100%;
    }

    #plugin-print-sandbox .control-container {
        display: none;
    }

    .esriSimpleSlider {
        display: none;
    }

    /* Default styling for map print out */
    #plugin-print-sandbox #legend-container-0 {
        float: right;
    }

    #plugin-print-sandbox #map-0_root {
        float: left;
    }

    #print-map-container {
        border: none;
    }

    .legend-close {
        visibility: hidden;
    }

    #legend-container-0 .dojoxResizeHandle {
        visibility: hidden;
    }

}