@media print {
    /* Hide all body an map elements and print preview map controls */
    body,
    #plugin-print-preview-map_zoom_slider {
        visibility: hidden;
    }


    /* An issue in Chrome for Windows would display the borders of this
       element in print media, despite it being selected by the clause above.*/
    .plugin-launcher {
        display: none; 
    }

    /* Override the map tiles which have inline styles.
       This avoids having to have an !important on the broader
       selectors for the rest of the page elements */
    #map-0_root, #map-0_root img.layerTile,
    #map-1_root, #map-1_root img.layerTile {
        visibility: hidden !important;
    }

    /* Plugin print will only be one side of a split view map ever, so
       allow that side to take up the entire width of the screen */
    body.view-split .content {
        width: 100%;
    }

    #plugin-print-sandbox {
        visibility: visible;
    }

    #plugin-print-preview-map_container img { 
        visibility: visible;
    }
}
