@media print {
    @page {
        size: letter landscape;
    }

    #map-print-sandbox {
        width: 10in !important;
        height: 6in !important;
    }

    .print-sandbox-header {
        height: 0.95in !important;
    }

    #print-map-container {
        overflow: hidden !important;
        width: 10in !important;
        height: 6in !important;
    }

    #print-map-container > #export-print-preview-map {
        height: 5.9in !important;
        width: 9.9in !important;
    }

    #print-map-container > #export-print-preview-map > #map-0 {
        height: 100% !important;
        width: 100% !important;
        position: relative;
    }
    
    #legend-container-0 {
        margin-left: 0px !important;
        top: 80% !important;
        left: 0px !important;
        height: 20% !important;
        width: 100% !important;
        position: absolute !important;
        z-index: 10;
        background-color: white;
    }

    .legend-header {
        height: 15%;
        font-size: 11px;
    }

    .legend-body {
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
        height: 85% !important;
    }

    .layer-legends {
        height: 100% !important;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .legend-layer {
        width: auto !important;
        font-size: 8px;
        height: auto !important;
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }

    .legend-title {
        max-width: 75%;
    }

    .print-legend-coll {
        display: flex !important;
        flex-direction: column;
    }

    .legend-layer img {
        width: 10px;
        height: 10px;
    }
}

#map-print-sandbox {
    width: 10in !important;
    height: 6in !important;
}

.print-sandbox-header {
    height: 0.95in !important;
}

#print-map-container {
    overflow: hidden !important;
    width: 10in !important;
    height: 6in !important;
}

#print-map-container > #export-print-preview-map {
    height: 5.9in !important;
    width: 9.9in !important;
}