@media print {
    @page {
        size: letter landscape;
    }

    #map-print-sandbox {
        width: 10in !important;
        height: 6in !important;
    }

    #print-map-container {
        width: 10in !important;
        height: 6in !important;
    }

    #print-map-container > #export-print-preview-map {
        height: 5.9in !important;
        width: 9.9in !important;
    }

    #legend-container-0 {
        top: 80% !important;
        height: 20% !important;
    }

    .above-legend {
        bottom: 21% !important;
    }

    .page-bottom {
        bottom: 1% !important;
    }
}

#map-print-sandbox {
    width: 10in !important;
    height: 6in !important;
}

#print-map-container {
    width: 10in !important;
    height: 6in !important;
}

#print-map-container > #export-print-preview-map {
    height: 5.9in !important;
    width: 9.9in !important;
}
