<ul id="tlyPageGuide">
    <li class="tlypageguide_right" data-tourtarget=".sidebar">
        <div>
            Each item listed in the sidebar is a mini "app" that lets you explore tools and data on the map.  You can have multiple apps running at the same time, simply minimize the app popup.  Hover over any app in the list to see a short description of what it can do.
        </div> 
    </li>
    <li class="tlypageguide_right" data-tourtarget=".tools">
        <div>These tools let you explore the map: find an address, measure an area or zoom the map to its original position.</div>
    </li>
    <li class="tlypageguide_left" data-tourtarget=".basemap-selector">
        <div>You can change the background map layer by selecting from the list here.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".switch-screen">
        <div>This website has two maps loaded, which can be toggled on or off.  Use this tool to switch between the different maps.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".split-screen">
        <div>To view both maps at once, split the view.  Once both maps are visibile, you can also link them so they are both viewing the same area, allowing you to compare different data sets simultaneously.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".permalink-button">
        <div>You can generate a custom URL which will let you share this map and data with others.  You can also generate code to embed this map in another website.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".export-button">
        <div>Save your current map as a PDF to email or print out.</div>
    </li>

</ul>