<ul id="tlyPageGuide">
    <li class="tlypageguide_right" data-tourtarget=".name">
        <div>
			These are links that will take you to the Coastal Resilience website for more project background.
        </div>
    </li>
	<li class="tlypageguide_right" data-tourtarget="#pluginZoomTo-clearSearch">
        <div>
	         Type in your point of interest and you will get a list of available selections from a global search address database.
	    </div>
    </li>
	<li class="tlypageguide_right" data-tourtarget=".plugin-launcher">
        <div>
            Each item listed in the sidebar is a mini Coastal Resilience "app."  These apps are intended to address a specific coastal issue for resilience, restoration and adaptation planning.  You can have multiple apps running at the same time; simply minimize an active app (the icon will stay blue) and open others to view additional data and information.  Hover over any app in the list to see a short description.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget=".tools">
        <div>These tools let you explore the map: measure an area or distance, zoom to the full extent of the map, and the legend button.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".switch-screen">
        <div>This website has two maps loaded, which can be toggled on or off.  Use this tool to switch between the different maps, or return to a single map after using split screen.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".split-screen">
        <div>To view both maps at once, split the view.  Once both maps are visible, you can also link them so they are both viewing the same area as you move the map.  The link button can be found in the sidebar on the right map.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".permalink-button">
        <div>You can generate a custom URL which will let you share this map and data with others.  You can also generate code to embed this map in another website.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".export-button">
        <div>Save your current map as a PDF to email or print out.</div>
    </li>
	<li class="tlypageguide_left" data-tourtarget=".basemap-selector">
        <div>You can change the background map layer by selecting from the list here.</div>
    </li>
	<li class="tlypageguide_left" data-tourtarget=".legend-header">
        <div>This displays all legend information from any active data layers; it will track data that are active across multiple apps.  This can be resized to show one or more columns.</div>
    </li>

</ul>