.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    color: #819696;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: 3px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    margin-bottom: 0;
    background-color: #ccd5d5;
    @include clearfix;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.sidebar-content {
    .tab-content {
        padding: 10px;
    }
}

.sidebar-content-heading {
    margin-top: 1rem;
}
