.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #111;
    cursor: default;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 0px 0px $brand-primary;;
    -moz-box-shadow: 0px 2px 0px 0px $brand-primary;;
    box-shadow: 0px 2px 0px 0px $brand-primary;;
}

.nav-tabs>li>a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    color: #7F8FA4;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-top: 3px;
    margin: 3px 15px 0px 15px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs {
    padding-left: 0;
    margin-bottom: 0;
    background-color: #ffffff;
    @include clearfix;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.sidebar-content {
    .tab-content {
        padding: 10px;
        background: #ffffff;
    }
}

.sidebar-content-heading {
    margin-top: 1rem;
}
