.sidebar-content {
  height: calc(100% - 23px);
  margin-top: 0;
}

.sidebar-nav {
  display:none;
}

.sidebar, .map {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out; 
  -o-transition: height 500ms ease-in-out; 
  transition: height 500ms ease-in-out;
}

/* HEADER AND OFF CANVAS MENU */
.single-plugin-mode .nav-main {
  padding-right: 0;
}
.header-offcanvas {
    height: 55px;
    z-index: 2200;
}
.header-offcanvas.single-plugin-mode {
    position: absolute;
    right: 0;
    z-index: 10000;
}
.header-offcanvas.offcanvas>button {
    padding: 0;
    background-color: transparent;
    color: #fff;
    border: 0;
    box-shadow: none!important
}
.header-offcanvas .icon-menu {
    color: #fff;
}
.offcanvas-icon-container {
    padding: 3px 13px 0 2px;
    border-right: 1px solid hsla(0, 0%, 100%, .2);
    margin-right: 10px;
    line-height: 50px;
    height: 100%;
}
.single-plugin-mode .offcanvas-icon-container {
    margin-right: 0;
    border-right: none;
}
.header-offcanvas .button.active,
.header-offcanvas .button.hover,
.header-offcanvas .button:active,
.header-offcanvas .button:hover {
    background-color: transparent
}
.nav-main-button {
    padding: 0;
    border-radius: 0;
    border: 0;
    background-color: transparent
}

.offcanvas-menu {
  display: none;
}

/* Mobile-friendly rules that should only apply
to single plugin mode */
@media screen and (max-width: 736px) {
  .sidebar {
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }

  .sidebar-peeking {
    height: 45%;
  }

  .sidebar-max {
    height: 100%;
  }

  /* height of the toggle control */
  .sidebar-min {
    height: 23px;
  }

  /* Button to expand/contract content and map on mobile */
  #mobile-content-toggle {
    display: block;
    text-align: center;
    background: #4B4B4B;
    box-shadow: 0 -3px 4px 0 rgba(0,0,0,0.5);
    padding: 2px;
    color: white;
    text-transform: uppercase;
  }

  .content .map .basemap-selector {
    display: none;
  }

  .content .map .map-tools {
    top: 20px;
    opacity: 1;
  }

  .esriSimpleSlider {
    display: none;
  }

  .map-peeking .mobile-full-map-toggle {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 501;
  }

  .mobile-full-map-toggle > img {
    width: 36px;
    height: 36px;
  }

  .map-peeking {
    height: 55%;
  }

  .map-max {
    height: calc(100% - 23px);
  }

  .map-min {
    height: 0;
  }

  .nav-main-offcanvas {
    position: fixed !important;
    right: 0vw !important;
  }

  .single-plugin-mode .offcanvas-icon-container {
    padding: 5px 11px 0 0;
  }

}