.tmask {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 800;
}
.tbox {
    position: absolute;
    display: none;
    padding: 14px 17px;
    z-index: 900;
}

.tclose {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../img/icons/icon_close.png) no-repeat;
}
.tclose:hover {
    background-position:0 -30px;
}
.tinner {
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}
