@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Geosite Framework</title>
</head>
<body>
    <div>
        Hello, world!
    </div>
</body>
</html>
