/* Minor overrides of CR styles for this site to display outside the framework */
body{
	color:#5d6165;
	padding:0 10px 100px 10px;
	min-width:200px;
}
h1{
	font-size: 26px;
}
.sidebar-content{
	margin-top:0;
}
section{
	margin-left:5px;
}
/* Style wrapper of raw HTML/JavaScript */
pre{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
    word-wrap: break-word;
}
.copyBlocks{
	background:#fafafa;
	border: 1px solid #888;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.25);
	padding:10px;
	display:none;
}
.my-button .button{
	width: 150px;
}
.und{
	text-decoration: underline;
}